<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.vesns.netdisk.mapper.RecoveryFileMapper">
    <select id="selectRecoveryFileList" resultType="cn.vesns.netdisk.common.vo.file.RecoveryFileListVo">
        select *
        from netdisk.recoveryfile a
                     left join netdisk.userfile b on a.userFileId = b.userFileId
        where userId = #{userId}
    </select>
</mapper>