<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.vesns.netdisk.mapper.ShareMapper">
    <select id="selectShareList" resultType="cn.vesns.netdisk.common.vo.share.ShareListVo">
        select *
        from netdisk.share a
        left join netdisk.sharefile b on b.shareBatchNum = a.shareBatchNum
        left join netdisk.userfile c on c.userFileId = b.userFileId
        left join netdisk.file d on d.fileId = c.fileId
        where shareFilePath = #{param1}
        <if test="shareBatchNum != null">
            and a.shareBatchNum = #{param2}
        </if>
        and c.userId = #{param5}
        order by shareTime desc
        limit #{param3}, #{param4}
    </select>

    <select id="selectShareListTotalCount" resultType="int">
        select count(*)
        from netdisk.share a
        left join netdisk.sharefile b on b.shareBatchNum = a.shareBatchNum
        left join netdisk.userfile c on c.userFileId = b.userFileId
        left join netdisk.file d on d.fileId = c.fileId
        where shareFilePath = #{param1}
        <if test="shareBatchNum != null">
            and a.shareBatchNum = #{param2}
        </if>
        and c.userId = #{param3}
    </select>
</mapper>